@font-face{
	font-family: 'Bellota-LightItalic';
	src:url('../fonts/Bellota-LightItalic.otf');
}

@font-face{
	font-family: 'Bellota-BoldItalic';
	src:url('../fonts/Bellota-BoldItalic.otf');
}

body{
	line-height: 17px;
	background-color: #E6EAE8;
}

a{
	color: #20AAE5;
	text-decoration: none;
}

.top_bar{
	width: 100%;
	min-width: 1050px;
	height: 40px;
	background-color: #20aae5;
	border-bottom: 0.25em solid #1894ca;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10; /*this z index leaves the top bar fixed when scrolling }*/
}

.logo a{
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 30;
	position: relative;
	top: 9px;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	color: #1086BA;
}

a:hover{
	text-decoration: none;
}

nav{
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}
	
nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover{
	border-bottom: 7px solid #e67e22;
}

.wrapper{
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
}

.column{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #d3d3d3;
	z-index: -1;
}

.user_details{
	width: 250px;
	float: left;
	margin-bottom: 20px; 
}

.user_details_left_right{
	width: 125px;
	display: inline-block;
	position: absolute;
}

.user_details img{
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;
}

.main_column{
	float: right;
	width: 70%;
	z-index: -1; /*this is so tha it always apprears under the menu bar*/
	min-height: 160px;
}

.post_form{
	width: 100%;
}

.post_form textarea{
	width: 85%;
	height: 80px;
	border-radius: 3px;
	margin-right: 5px;
	border: 1px solid #d3d3d3;
	font-size: 12px;
	padding: 5px;
}

.post_form input[type = "submit"] {
	width: 10%;
	height: 60px;
	border: none;
	border-radius:3px;
	background-color: #3498db;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #fff;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 90%;
	position: absolute;
	margin: 0;
}

.post_form input[type = "submit"]:active {
	padding: 5px 4px 4px 5px;
}

.status_post{
    width: 96%;
    font-size: 15px;
    padding: 10px;
    min-height: 75px;
    cursor: pointer;
}

.post_profile_pic{
	float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.post_profile_pic img{
	border-radius: 25px;
}

#comment_iframe{
    max-height: 250px;
    width: 100%;
}

.comment_section{
	padding: 0 5px 5px 5px;
}

.comment_section img{
	margin: 0 3px 3px 3px;
	border-radius: 15px;
}

#comment_form textarea{
	border-color: #d3d3d3;
	width: 85%;
	height: : 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}

#comment_form input[type = "submit"]{
	border: none;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	width: 13%;
	height: 35px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}